@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Regular.eot");
  src: url("../fonts/Raleway/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "RalewayLight";
  src: url("../fonts/Raleway/Raleway-Light.eot");
  src: url("../fonts/Raleway/Raleway-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-Light.woff") format("woff"), url("../fonts/Raleway/Raleway-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "RalewaySemiBold"; */
@font-face {
  font-family: "RalewaySemiBold";
  src: url("../fonts/Raleway/Raleway-SemiBold.eot");
  src: url("../fonts/Raleway/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway/Raleway-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "RalewayBold"; */
@font-face {
  font-family: "RalewayBold";
  src: url("../fonts/Raleway/Raleway-Bold.eot");
  src: url("../fonts/Raleway/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway/Raleway-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

.lang {
  height: 68px;
  display: inline-block;
  position: absolute;
  right: 70px; }
  @media (max-width: 792px) {
    .lang {
      height: auto;
      min-height: 68px;
      right: 15px; } }
  .lang p {
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: bold; }
  .lang a {
    font-size: 16px;
    color: #00a4e2;
    text-decoration: none; }
    .lang a:hover {
      color: #005271; }
    .lang a:hover, .lang a:focus, .lang a:visited {
      text-decoration: none; }

.langFixed {
  z-index: 3001;
  height: 68px;
  width: 120px;
  padding: 0px 10px;
  background-color: #222;
  display: none;
  position: fixed;
  right: 0px;
  bottom: 0px;
  text-align: center;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  opacity: 0.9; }
  .langFixed p {
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: bold;
    color: #fff; }
  .langFixed a {
    font-size: 16px;
    color: #00a4e2;
    text-decoration: none; }
    .langFixed a:hover {
      color: #005271; }
    .langFixed a:hover, .langFixed a:focus, .langFixed a:visited {
      text-decoration: none; }

.bordered-button {
  display: block;
  margin: 15px auto 15px auto;
  width: 200px;
  font-size: 18px;
  font-family: "RalewaySemiBold";
  color: #00a4e2;
  text-transform: uppercase;
  line-height: 1.111;
  text-align: center;
  border: 2px solid #ddd;
  padding: 10px 20px;
  text-transform: lowerCase;
  color: #00a4e2;
  background-color: #fff;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }
  .bordered-button:hover, .bordered-button:focus {
    text-decoration: none;
    border-color: #00a4e2; }

body {
  font-family: "Raleway"; }

.container {
  padding-left: 0px;
  padding-right: 0px; }
  @media (max-width: 792px) {
    .container {
      padding-left: 15px;
      padding-right: 15px; } }

@-webkit-keyframes showMenu {
  0% {
    opacity: 0; }
  75% {
    opacity: 0.01; }
  100% {
    opacity: 1; } }

@keyframes showMenu {
  0% {
    opacity: 0; }
  75% {
    opacity: 0.01; }
  100% {
    opacity: 1; } }

#header {
  width: 100%;
  height: 80px;
  overflow: hidden;
  background-color: #fff;
  -webkit-animation: showMenu 0.5s;
  animation: showMenu 0.5s; }
  #header .container {
    height: 80px;
    margin: 0px auto;
    border-bottom: 1px solid #eeeeee;
    position: relative; }
    #header .container .logo {
      float: left;
      margin: 16px 30px auto 170px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      @media (max-width: 1200px) {
        #header .container .logo {
          margin-left: 15px;
          margin-right: 20px; } }
      @media (max-width: 480px) {
        #header .container .logo {
          display: block;
          width: 100px;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto; } }
    #header .container .deviz {
      display: inline-block;
      font-size: 16px;
      font-family: "OpenSans";
      color: #999999;
      font-style: italic;
      line-height: 1.2;
      text-align: left;
      margin-top: 32px; }
      @media (max-width: 992px) {
        #header .container .deviz {
          display: none; } }
    #header .container #phone {
      display: inline-block;
      float: right;
      font-family: "RalewayBold";
      font-size: 18px;
      color: #555555;
      font-weight: bold;
      line-height: 1.2;
      text-align: right;
      margin-top: 30px;
      margin-right: 70px; }
      @media (max-width: 1200px) {
        #header .container #phone {
          margin-right: 15px; } }
      @media (max-width: 992px) {
        #header .container #phone {
          font-size: 16px;
          font-family: "RalewaySemiBold"; } }
      @media (max-width: 640px) {
        #header .container #phone {
          font-size: 14px;
          font-family: "RalewaySemiBold"; } }
      @media (max-width: 480px) {
        #header .container #phone {
          display: none; } }

.head-service {
  background-image: url(../images/electric635.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

#navbar {
  z-index: 4000;
  background-color: #fff;
  width: 100%;
  -webkit-animation: showMenu 0.5s both;
  animation: showMenu 0.5s both; }
  #navbar .navbar {
    height: 72px;
    margin-bottom: 0px; }
    @media (max-width: 792px) {
      #navbar .navbar {
        height: auto;
        min-height: 68px; } }
    #navbar .navbar .logo {
      position: absolute;
      top: 0;
      left: -450px;
      margin: 11px 0px 0px 0px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      display: none; }
      @media (max-width: 1200px) {
        #navbar .navbar .logo {
          opacity: 0;
          margin-left: 15px;
          margin-right: 15px; } }
    #navbar .navbar #phone2 {
      display: none;
      position: absolute;
      top: 0;
      right: -300px;
      font-family: "RalewayBold";
      font-size: 18px;
      color: #555555;
      font-weight: bold;
      line-height: 1.2;
      text-align: right;
      margin-top: 20px;
      margin-right: 70px; }
      @media (max-width: 992px) {
        #navbar .navbar #phone2 {
          opacity: 0;
          display: none; } }
      @media (max-width: 480px) {
        #navbar .navbar #phone2 {
          display: none; } }
    #navbar .navbar #phone3 {
      display: none; }
      @media (max-width: 480px) {
        #navbar .navbar #phone3 {
          display: inline-block;
          opacity: 1;
          font-family: "RalewaySemiBold";
          font-size: 14px;
          color: #555555;
          line-height: 1.2;
          text-align: left;
          float: left; } }
    @media (max-width: 480px) {
      #navbar .navbar .navbar-toggle {
        width: 100%; }
        #navbar .navbar .navbar-toggle .fa {
          float: right; } }
    #navbar .navbar .container-fluid, #navbar .navbar .navbar-collapse {
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      padding-right: 0px;
      background-color: #fff;
      z-index: 1001; }
      @media (max-width: 792px) {
        #navbar .navbar .container-fluid, #navbar .navbar .navbar-collapse {
          padding-left: 15px;
          padding-right: 15px; } }
    #navbar .navbar .navbar-collapse,
    #navbar .navbar .navbar-collapse > ul {
      z-index: 1001; }
    #navbar .navbar .navbar-header {
      margin-right: 0px;
      margin-left: 0px; }
      #navbar .navbar .navbar-header button {
        padding: 23px 15px 23px 15px;
        margin: 0 0 0 0; }
      #navbar .navbar .navbar-header .fa {
        color: #999999; }
    #navbar .navbar .nav {
      z-index: 400; }
      #navbar .navbar .nav .active > a {
        color: #00a4e2;
        border-bottom: 3px solid #00a4e2; }
      #navbar .navbar .nav li {
        position: relative; }
        #navbar .navbar .nav li a {
          text-transform: upperCase;
          font-size: 16px;
          font-family: "RalewaySemiBold";
          color: #999999;
          text-transform: uppercase;
          line-height: 1.2;
          text-align: left;
          padding-top: 24px;
          padding-bottom: 26px;
          z-index: 400;
          -webkit-transition: color 0.3s ease-out 0.3s;
          transition: color 0.3s ease-out 0.3s; }
          #navbar .navbar .nav li a:hover {
            color: #00a4e2;
            background-color: transparent; }
          #navbar .navbar .nav li a:focus, #navbar .navbar .nav li a:visited, #navbar .navbar .nav li a:active {
            background-color: transparent; }

.head {
  min-height: 635px;
  position: relative; }
  .head .blackout {
    background-color: #3a4e56;
    opacity: 0.51;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2; }
  .head .row {
    z-index: 3; }
  .head .h1 {
    z-index: 3;
    margin-bottom: 40px; }
    .head .h1 h1 {
      font-family: 'RalewayBold', sans-serif;
      font-size: 40px;
      text-transform: uppercase;
      line-height: 1.2;
      text-align: center;
      text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      z-index: 21;
      color: #fff;
      display: block;
      max-width: 750px;
      margin: 20px auto 10px auto; }
      @media (max-width: 992px) {
        .head .h1 h1 {
          font-size: 25px; } }
  .head .call {
    z-index: 3;
    margin-top: 120px;
    padding-left: 70px; }
    @media (max-width: 792px) {
      .head .call {
        margin-top: 20px; } }
    @media (max-width: 480px) {
      .head .call p {
        font-size: 24px !important; } }
    .head .call p {
      margin-top: 0px;
      font-family: 'Raleway', sans-serif;
      text-align: left;
      line-height: 1.2;
      font-size: 24px;
      text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      color: #fff;
      max-width: 420px; }
    .head .call p:nth-child(2) {
      text-transform: uppercase;
      font-size: 42px;
      font-family: 'RalewaySemiBold', sans-serif; }
  .head .aboutUs {
    z-index: 3;
    position: relative;
    margin-top: 40px; }
    .head .aboutUs p {
      margin-top: 0px;
      font-family: 'Raleway', sans-serif;
      text-align: left;
      line-height: 1.2;
      font-size: 24px;
      text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      color: #fff;
      max-width: 370px;
      text-align: right;
      float: right; }
      @media (max-width: 792px) {
        .head .aboutUs p {
          float: none !important;
          text-align: center !important;
          max-width: 4000px;
          font-size: 22px; } }
  .head .bordered-button {
    display: block;
    margin: 15px auto 15px auto;
    width: 300px;
    font-size: 18px;
    font-family: "Raleway";
    line-height: 1.111;
    border: 2px solid #ddd;
    padding: 10px 20px;
    text-transform: lowerCase;
    color: #00a4e2;
    background-color: #fff;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
    .head .bordered-button:hover, .head .bordered-button:focus {
      text-decoration: none;
      border-color: #00a4e2; }

#chooseUs {
  background-color: #f7f7f7; }
  #chooseUs .h1 {
    margin-top: 0px;
    margin-bottom: 0px; }
    #chooseUs .h1 h1 {
      font-family: 'RalewayLight', sans-serif;
      font-size: 36px;
      line-height: 1.2;
      text-align: center;
      margin-top: 80px;
      margin-bottom: 0px;
      color: #222222;
      display: block;
      margin-left: auto;
      margin-right: auto; }
      @media all and (max-width: 999px) {
        #chooseUs .h1 h1 {
          font-size: 27.69231px; } }
      @media all and (max-width: 768px) {
        #chooseUs .h1 h1 {
          font-size: 24px; } }
    #chooseUs .h1 .line {
      width: 30px;
      height: 10px;
      border-bottom: 3px solid #00a4e2;
      margin-top: 28px;
      margin-left: auto;
      margin-right: auto; }
    #chooseUs .h1 .underh {
      font-family: 'Open Sans', sans-serif;
      font-style: italic;
      font-size: 14px;
      line-height: 1.429;
      color: #999999;
      margin-top: 21px;
      margin-bottom: 44px;
      text-align: center;
      max-width: 830px;
      display: block;
      margin-left: auto;
      margin-right: auto; }
  #chooseUs #blockCompany {
    display: block;
    margin-top: 105px;
    margin-bottom: 80px;
    height: auto; }
  #chooseUs .rasnye-kompanii {
    margin-top: 20px;
    text-align: center; }
    #chooseUs .rasnye-kompanii img {
      display: block;
      max-width: 100%;
      margin-bottom: 32px;
      margin-left: auto;
      margin-right: auto;
      -webkit-border-radius: 0px;
      border-radius: 0px; }
    #chooseUs .rasnye-kompanii p {
      font-size: 14px;
      font-family: "RalewaySemiBold";
      color: #222222;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 20px;
      min-height: 32px; }

#works {
  background-color: #3d3d40; }
  #works .h1 {
    margin-top: 0px;
    margin-bottom: 0px; }
    #works .h1 h1 {
      font-family: 'RalewayLight', sans-serif;
      font-size: 36px;
      line-height: 1.2;
      text-align: center;
      margin-top: 80px;
      margin-bottom: 0px;
      color: #fff;
      display: block;
      margin-left: auto;
      margin-right: auto; }
      @media all and (max-width: 999px) {
        #works .h1 h1 {
          font-size: 27.69231px; } }
      @media all and (max-width: 768px) {
        #works .h1 h1 {
          font-size: 24px; } }
    #works .h1 .line {
      width: 30px;
      height: 10px;
      border-bottom: 3px solid #00a4e2;
      margin-top: 28px;
      margin-left: auto;
      margin-right: auto; }
    #works .h1 .underh {
      font-family: 'Open Sans', sans-serif;
      font-style: italic;
      font-size: 14px;
      line-height: 1.429;
      color: #999999;
      margin-top: 21px;
      margin-bottom: 44px;
      text-align: center;
      max-width: 830px;
      display: block;
      margin-left: auto;
      margin-right: auto; }
  #works .row {
    overflow: hidden; }
  #works .h1 .underh {
    color: #999999; }
  #works #workPhotos {
    font-size: 0px;
    margin-bottom: 100px; }
    #works #workPhotos .workPhoto {
      display: inline-block;
      overflow: hidden;
      text-align: center; }
      #works #workPhotos .workPhoto img {
        min-width: 100%; }
    #works #workPhotos .workPhoto:nth-child(1) {
      padding-right: 2.5px;
      padding-bottom: 2.5px; }
    #works #workPhotos .workPhoto:nth-child(2) {
      padding-right: 2.5px;
      padding-bottom: 2.5px;
      padding-left: 2.5px; }
    #works #workPhotos .workPhoto:nth-child(3) {
      padding-bottom: 2.5px;
      padding-left: 2.5px; }
    #works #workPhotos .workPhoto:nth-child(4) {
      padding-right: 2.5px;
      padding-top: 2.5px; }
    #works #workPhotos .workPhoto:nth-child(5) {
      padding-right: 2.5px;
      padding-top: 2.5px;
      padding-left: 2.5px; }
    #works #workPhotos .workPhoto:nth-child(6) {
      padding-top: 2.5px;
      padding-left: 2.5px; }
    @media (max-width: 1200px) {
      #works #workPhotos .workPhoto {
        width: 33%;
        height: 300px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        padding: 15px 7.5px; } }
    @media (max-width: 480px) {
      #works #workPhotos .workPhoto {
        height: auto;
        width: 96%;
        overflow: hidden;
        padding: 0px;
        margin: 7.5px 2%; } }
  #works #comments {
    width: 300%;
    position: relative;
    left: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: -webkit-grab;
    cursor: grab; }
    #works #comments .comment {
      display: inline-block;
      width: 33%;
      vertical-align: top; }
      #works #comments .comment .fa {
        display: block;
        font-size: 30px;
        color: #fffefe;
        text-transform: uppercase;
        line-height: 1;
        text-align: center;
        margin-bottom: 25px; }
      #works #comments .comment p {
        font-size: 18px;
        font-family: "OpenSans";
        color: white;
        font-style: italic;
        line-height: 1.667;
        text-align: center;
        max-width: 810px;
        display: block;
        margin-left: auto;
        margin-right: auto; }
      #works #comments .comment .line {
        width: 30px;
        height: 10px;
        border-bottom: 3px solid #fff;
        margin-top: 28px;
        margin-left: auto;
        margin-right: auto; }
      #works #comments .comment .name {
        margin-top: 30px;
        margin-bottom: 40px; }
        #works #comments .comment .name h4 {
          text-align: center;
          text-transform: uppercase;
          font-size: 14px;
          font-family: "RalewaySemiBold";
          color: #30b0e0;
          text-transform: uppercase;
          line-height: 2.143;
          margin-top: 0px;
          margin-bottom: 2px; }
        #works #comments .comment .name p {
          font-size: 13px;
          font-family: "RalewaySemiBold";
          color: #999999;
          line-height: 2.308;
          text-align: center;
          margin-top: 0px; }
  #works .slideNav {
    margin-bottom: 95px;
    width: 40px;
    font-size: 0px;
    margin-left: auto;
    margin-right: auto; }
    #works .slideNav .nav {
      display: inline-block;
      cursor: pointer;
      border-style: solid;
      border-width: 2px;
      border-color: #cccccc;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0);
      opacity: 0.6;
      width: 10px;
      height: 10px;
      margin-left: 5px;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
      #works .slideNav .nav:first-child {
        margin-left: 0px; }
    #works .slideNav .nav.active {
      border-color: #fff;
      background-color: #fff;
      opacity: 1; }

#whyWe {
  position: relative;
  padding-bottom: 70px; }
  #whyWe .container {
    z-index: 2;
    background-color: transparent; }
    #whyWe .container .row .h1 {
      margin-top: 0px;
      margin-bottom: 0px; }
      #whyWe .container .row .h1 h1 {
        font-family: 'RalewayLight', sans-serif;
        font-size: 36px;
        line-height: 1.2;
        text-align: center;
        margin-top: 80px;
        margin-bottom: 0px;
        color: #222222;
        display: block;
        margin-left: auto;
        margin-right: auto; }
        @media all and (max-width: 999px) {
          #whyWe .container .row .h1 h1 {
            font-size: 27.69231px; } }
        @media all and (max-width: 768px) {
          #whyWe .container .row .h1 h1 {
            font-size: 24px; } }
      #whyWe .container .row .h1 .line {
        width: 30px;
        height: 10px;
        border-bottom: 3px solid #00a4e2;
        margin-top: 28px;
        margin-left: auto;
        margin-right: auto; }
      #whyWe .container .row .h1 .underh {
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        font-size: 14px;
        line-height: 1.429;
        color: #999999;
        margin-top: 21px;
        margin-bottom: 44px;
        text-align: center;
        max-width: 830px;
        display: block;
        margin-left: auto;
        margin-right: auto; }
    #whyWe .container .row .button-consult {
      position: absolute;
      top: 85%;
      left: 15%; }
      #whyWe .container .row .button-consult button {
        width: 300px;
        text-align: center;
        display: block;
        text-transform: upperCase; }
    @media (min-width: 792px) {
      #whyWe .container .row .h1 {
        text-align: left !important; }
        #whyWe .container .row .h1 .marginMin {
          margin-left: -30px; }
          #whyWe .container .row .h1 .marginMin h1 {
            text-align: left !important; }
          #whyWe .container .row .h1 .marginMin .line {
            margin-left: 0px !important; }
          #whyWe .container .row .h1 .marginMin .underh {
            text-align: left !important; } }
    #whyWe .container .row #whyWeList {
      margin-top: 10px; }
      #whyWe .container .row #whyWeList .marginMin {
        margin-left: -30px; }
        @media (max-width: 792px) {
          #whyWe .container .row #whyWeList .marginMin {
            margin-left: auto; } }
        #whyWe .container .row #whyWeList .marginMin .benefit {
          margin-bottom: 30px;
          max-height: 80px;
          width: 49%;
          display: inline-table;
          padding-right: 15px; }
          @media (max-width: 792px) {
            #whyWe .container .row #whyWeList .marginMin .benefit {
              padding-right: 0px;
              text-align: center;
              display: table;
              width: auto;
              min-width: 80%;
              margin-left: auto;
              margin-right: auto; } }
          @media (max-width: 480px) {
            #whyWe .container .row #whyWeList .marginMin .benefit {
              width: 100%;
              text-align: left; } }
          #whyWe .container .row #whyWeList .marginMin .benefit .icon {
            position: relative;
            width: 74px;
            height: 74px;
            border: 1px solid #eeeeee;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            background-color: #fff;
            color: #999999;
            float: left;
            text-align: left; }
            #whyWe .container .row #whyWeList .marginMin .benefit .icon i {
              vertical-align: middle;
              text-align: center;
              font-size: 30px;
              width: 28px;
              height: 30px;
              z-index: 3;
              display: block;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto; }
          #whyWe .container .row #whyWeList .marginMin .benefit .text {
            font-family: "RalewaySemiBold", sans-serif;
            font-size: 14px;
            line-height: 1.429;
            color: #333333;
            height: 50px;
            margin-top: 15px;
            padding-left: 15px;
            min-width: 170px; }
  #whyWe .skills .h1 {
    margin-top: 0px;
    margin-bottom: 0px; }
    #whyWe .skills .h1 h1 {
      font-family: 'RalewayLight', sans-serif;
      font-size: 36px;
      line-height: 1.2;
      text-align: center;
      margin-top: 80px;
      margin-bottom: 0px;
      color: #222222;
      display: block;
      margin-left: auto;
      margin-right: auto; }
      @media all and (max-width: 999px) {
        #whyWe .skills .h1 h1 {
          font-size: 27.69231px; } }
      @media all and (max-width: 768px) {
        #whyWe .skills .h1 h1 {
          font-size: 24px; } }
    #whyWe .skills .h1 .line {
      width: 30px;
      height: 10px;
      border-bottom: 3px solid #00a4e2;
      margin-top: 28px;
      margin-left: auto;
      margin-right: auto; }
    #whyWe .skills .h1 .underh {
      font-family: 'Open Sans', sans-serif;
      font-style: italic;
      font-size: 14px;
      line-height: 1.429;
      color: #999999;
      margin-top: 21px;
      margin-bottom: 44px;
      text-align: center;
      max-width: 830px;
      display: block;
      margin-left: auto;
      margin-right: auto; }
  @media (min-width: 792px) {
    #whyWe .skills .h1 {
      text-align: left !important; }
      #whyWe .skills .h1 .marginMin {
        margin-right: -30px;
        margin-left: 0px !important; }
        #whyWe .skills .h1 .marginMin h1 {
          text-align: left !important; }
        #whyWe .skills .h1 .marginMin .line {
          margin-left: 0px !important; }
        #whyWe .skills .h1 .marginMin .underh {
          text-align: left !important; } }
  #whyWe .skillbar-wrap {
    padding: 0 0 15px 0;
    font-family: "Raleway",sans-serif;
    font-size: 14px; }
  #whyWe .skillbar-wrap .clearfix {
    padding: 10px 0; }
    #whyWe .skillbar-wrap .clearfix .pull-right {
      font-size: 14px;
      font-family: "OpenSans";
      color: #33cccc;
      font-style: italic;
      line-height: 1.2;
      font-weight: 600;
      text-align: left; }
    #whyWe .skillbar-wrap .clearfix .pull-left {
      font-size: 14px;
      font-family: "OpenSans";
      color: #333333;
      font-style: italic;
      line-height: 1.2;
      text-align: left;
      font-weight: 600; }
  #whyWe .skillbar {
    background: #00a4e2; }
  #whyWe .skillbar {
    position: relative;
    display: block;
    width: 100%;
    background: #eeeeee;
    height: 3px;
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear; }
  #whyWe .skillbar-bar {
    height: 3px;
    width: 0px;
    background: #33cccc;
    margin: 10px 0 0 0; }
  #whyWe .skill-bar-percent {
    color: #303030; }

#prices {
  background-color: #fafafa;
  padding-bottom: 100px; }
  #prices .h1 {
    margin-top: 0px;
    margin-bottom: 0px; }
    #prices .h1 h1 {
      font-family: 'RalewayLight', sans-serif;
      font-size: 36px;
      line-height: 1.2;
      text-align: center;
      margin-top: 80px;
      margin-bottom: 0px;
      color: #222222;
      display: block;
      margin-left: auto;
      margin-right: auto; }
      @media all and (max-width: 999px) {
        #prices .h1 h1 {
          font-size: 27.69231px; } }
      @media all and (max-width: 768px) {
        #prices .h1 h1 {
          font-size: 24px; } }
    #prices .h1 .line {
      width: 30px;
      height: 10px;
      border-bottom: 3px solid #00a4e2;
      margin-top: 28px;
      margin-left: auto;
      margin-right: auto; }
    #prices .h1 .underh {
      font-family: 'Open Sans', sans-serif;
      font-style: italic;
      font-size: 14px;
      line-height: 1.429;
      color: #999999;
      margin-top: 21px;
      margin-bottom: 44px;
      text-align: center;
      max-width: 830px;
      display: block;
      margin-left: auto;
      margin-right: auto; }
  #prices #priceBlock .price {
    padding-left: 0px;
    padding-right: 0px; }
    @media (max-width: 1200px) {
      #prices #priceBlock .price {
        height: 160px;
        max-height: 160px;
        overflow: hidden; } }
    #prices #priceBlock .price > div {
      display: table;
      padding-top: 30px;
      padding-bottom: 30px;
      margin-left: 15px;
      margin-right: 15px;
      border-bottom: 1px dotted #e5e5e5; }
      #prices #priceBlock .price > div .img-circle {
        display: table-cell;
        vertical-align: middle; }
        @media (max-width: 400px) {
          #prices #priceBlock .price > div .img-circle {
            display: none; } }
      #prices #priceBlock .price > div .desc {
        display: table-cell;
        vertical-align: middle;
        width: 66.667%;
        padding-left: 30px; }
        #prices #priceBlock .price > div .desc h4 {
          font-size: 14px;
          font-family: "RalewaySemiBold";
          color: #222222;
          line-height: 1.2;
          text-align: left;
          margin-top: 0px;
          margin-bottom: 0px;
          margin-bottom: 5px; }
        #prices #priceBlock .price > div .desc p {
          font-size: 13px;
          font-family: "Raleway";
          color: #999999;
          line-height: 1.538;
          text-align: left;
          margin-top: 0px;
          margin-bottom: 0px; }
      #prices #priceBlock .price > div > p {
        display: table-cell;
        vertical-align: middle;
        padding-left: 30px;
        text-align: center;
        font-size: 14px;
        font-family: "Raleway";
        color: #33cccc;
        font-weight: bold;
        line-height: 1.2;
        text-align: right;
        margin-top: 0px;
        margin-bottom: 0px; }

#blueBlock {
  background-color: #43b4de;
  padding-top: 60px;
  padding-bottom: 60px; }
  #blueBlock .row .col-sm-6 {
    min-height: 40px; }
    #blueBlock .row .col-sm-6 h3 {
      text-align: left;
      font-size: 18px;
      font-family: "Raleway";
      color: #fff;
      font-weight: bold;
      line-height: 1.2;
      margin: 10px auto; }
      @media (max-width: 792px) {
        #blueBlock .row .col-sm-6 h3 {
          text-align: center; } }
  #blueBlock .row .col-sm-4 a {
    background-color: transparent;
    border: 1px solid #fff;
    margin: 0px;
    width: 200px;
    text-decoration: none;
    font-size: 12px;
    font-family: "Raleway";
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    padding: 12px 12px; }
    #blueBlock .row .col-sm-4 a:hover, #blueBlock .row .col-sm-4 a:active, #blueBlock .row .col-sm-4 a:focus, #blueBlock .row .col-sm-4 a:visited {
      text-decoration: none; }
    @media (max-width: 792px) {
      #blueBlock .row .col-sm-4 a {
        display: block;
        margin-left: auto;
        margin-right: auto; } }

#guaranties {
  background-color: #fafafa;
  padding-bottom: 100px; }
  #guaranties .h1 {
    margin-top: 0px;
    margin-bottom: 0px; }
    #guaranties .h1 h1 {
      font-family: 'RalewayLight', sans-serif;
      font-size: 36px;
      line-height: 1.2;
      text-align: center;
      margin-top: 80px;
      margin-bottom: 0px;
      color: #222222;
      display: block;
      margin-left: auto;
      margin-right: auto; }
      @media all and (max-width: 999px) {
        #guaranties .h1 h1 {
          font-size: 27.69231px; } }
      @media all and (max-width: 768px) {
        #guaranties .h1 h1 {
          font-size: 24px; } }
    #guaranties .h1 .line {
      width: 30px;
      height: 10px;
      border-bottom: 3px solid #00a4e2;
      margin-top: 28px;
      margin-left: auto;
      margin-right: auto; }
    #guaranties .h1 .underh {
      font-family: 'Open Sans', sans-serif;
      font-style: italic;
      font-size: 14px;
      line-height: 1.429;
      color: #999999;
      margin-top: 21px;
      margin-bottom: 44px;
      text-align: center;
      max-width: 830px;
      display: block;
      margin-left: auto;
      margin-right: auto; }
  #guaranties #guarantiesBlock {
    width: 100%;
    text-align: center; }
    #guaranties #guarantiesBlock .guarantee {
      display: table;
      vertical-align: middle;
      margin-top: 80px; }
      @media (max-width: 1200px) {
        #guaranties #guarantiesBlock .guarantee {
          height: 150px;
          max-height: 150px;
          overflow: hidden; } }
      @media (max-width: 792px) {
        #guaranties #guarantiesBlock .guarantee {
          height: auto;
          max-height: auto; } }
      #guaranties #guarantiesBlock .guarantee .pic {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        padding-left: 7.5%; }
        @media (max-width: 792px) {
          #guaranties #guarantiesBlock .guarantee .pic {
            padding-left: 0px;
            text-align: center; } }
        #guaranties #guarantiesBlock .guarantee .pic .fa {
          font-size: 30px;
          width: 70px;
          height: 70px;
          text-align: center;
          color: #999999;
          border: 1px solid #999999;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          background-color: #fff;
          padding: 20px; }
      #guaranties #guarantiesBlock .guarantee .desc {
        display: table-cell;
        padding-left: 7.5%;
        max-width: 230px; }
        #guaranties #guarantiesBlock .guarantee .desc h4 {
          font-size: 14px;
          font-family: "Raleway";
          color: #222222;
          font-weight: bold;
          line-height: 1.2;
          text-align: left; }
        #guaranties #guarantiesBlock .guarantee .desc p {
          font-size: 13px;
          font-family: "Raleway";
          color: #999999;
          line-height: 1.538;
          text-align: left; }

footer {
  background-color: #333; }
  footer .row {
    padding-bottom: 50px; }
  footer h3 {
    font-size: 14px;
    font-family: "Raleway";
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    margin-top: 70px;
    margin-bottom: 0px; }
    @media (max-width: 792px) {
      footer h3 {
        text-align: center; } }
  footer .col-md-3:nth-child(1) .logo {
    margin: 62px 0px 20px auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    @media (max-width: 792px) {
      footer .col-md-3:nth-child(1) .logo {
        margin-left: auto;
        margin-right: auto;
        display: block;
        float: none; } }
  footer .col-md-3:nth-child(1) .deviz {
    display: block;
    font-size: 14px;
    font-family: "OpenSans";
    color: #999999;
    font-style: italic;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 220px; }
    @media (max-width: 792px) {
      footer .col-md-3:nth-child(1) .deviz {
        margin-left: auto;
        margin-right: auto;
        float: none;
        text-align: center; } }
  footer .col-md-3:nth-child(2) .connectUs {
    height: 40px;
    margin-top: 20px; }
    @media (max-width: 792px) {
      footer .col-md-3:nth-child(2) .connectUs {
        text-align: center; } }
    footer .col-md-3:nth-child(2) .connectUs .fa {
      display: inline-block;
      float: left;
      margin-top: 5px;
      font-size: 30px;
      color: #999999;
      text-transform: uppercase;
      line-height: 1.2;
      text-align: left; }
      @media (max-width: 792px) {
        footer .col-md-3:nth-child(2) .connectUs .fa {
          text-align: center;
          float: none;
          padding-left: 10px;
          padding-right: 10px; } }
    footer .col-md-3:nth-child(2) .connectUs p {
      display: inline-block;
      float: left;
      color: #999999;
      font-weight: bold;
      font-family: "Raleway";
      text-align: left;
      height: 40px; }
      @media (max-width: 792px) {
        footer .col-md-3:nth-child(2) .connectUs p {
          text-align: center;
          float: none;
          padding-left: 10px;
          padding-right: 10px; } }
  footer .col-md-3:nth-child(2) .map p {
    margin-left: 20px;
    font-size: 12px;
    line-height: 1.667; }
  footer .col-md-3:nth-child(2) .phone p {
    margin-left: 44px;
    font-size: 18px;
    line-height: 1.111; }
  footer .col-md-3:nth-child(2) .mail p {
    margin-left: 44px;
    font-size: 12px;
    line-height: 1.667;
    margin-top: 12px; }
  footer .col-md-3:nth-child(3) {
    font-size: 0px; }
    footer .col-md-3:nth-child(3) h3 {
      margin-bottom: 30px; }
    footer .col-md-3:nth-child(3) .foophoto {
      display: block;
      overflow: hidden;
      position: relative; }
      footer .col-md-3:nth-child(3) .foophoto img {
        display: block;
        max-width: 265 px;
        margin-left: auto;
        margin-right: auto; }
  footer .col-md-3:nth-child(4) h3 {
    margin-bottom: 20px; }
  footer .col-md-3:nth-child(4) a {
    display: block;
    font-size: 13px;
    font-family: "Raleway";
    color: #999999;
    line-height: 2.308;
    text-align: left;
    font-weight: bold; }
    @media (max-width: 792px) {
      footer .col-md-3:nth-child(4) a {
        text-align: center; } }
  footer #copyright {
    height: 70px;
    display: table;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    border-top: 1px solid #444444; }
    @media (max-width: 792px) {
      footer #copyright {
        margin-left: 0px;
        margin-right: 0px; } }
    footer #copyright p {
      display: table-cell;
      width: 100%;
      vertical-align: middle;
      font-size: 12px;
      font-family: "Open Sans";
      font-style: italic;
      color: #888888;
      line-height: 1.2;
      text-align: center; }

#recall-form #successMessageRecall h4 {
  font-size: 12px;
  font-family: "Open Sans";
  font-style: italic;
  color: #888888;
  line-height: 1.2;
  text-align: center; }

#recall-form span {
  font-size: 12px;
  font-family: "Open Sans";
  font-style: italic;
  color: #888888;
  line-height: 1.2;
  text-align: center; }

#up {
  width: 40px;
  height: 40px;
  background-color: #555555;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 1s;
  transition: all 1s; }
  #up:hover {
    background-color: #222222; }
  #up .fa {
    font-size: 24px;
    font-family: "FontAwesome";
    color: white;
    text-transform: uppercase;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
